@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Pacifico&family=Satisfy&display=swap");

/* common styles  */
body,
h1,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.wrapper {
  max-width: 75%;
  margin-inline: auto;
}
:root {
  --primary-color: #e6533c;
  --text-primary-color: #fff;
}
.primary-btn {
  background: var(--primary-color);
  color: white;
  border-radius: 42px;
  padding: 16px 40px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}
/* navbar styles  */
header {
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 1),
    rgba(17, 17, 17, 0.85)
  );
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-title {
  color: var(--primary-color);
  font-style: italic;
  font-size: 2rem;
  font-weight: 800;
}
.nav-links {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 8px;
}
li {
  list-style: none;
}
.active {
  background: var(--primary-color);
  padding: 8px 20px;
  border-radius: 46px;
}
a {
  text-decoration: none;
  color: var(--text-primary-color);
  font-size: 1.2rem;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 40px;
}
.menu-icon {
  display: none;
  color: #fff;
  font-size: 1.5rem;
}
/* banner styles  */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.banner-left h1 {
  font-size: 4.2rem;
  font-weight: 900;
}
.banner-left h1 span {
  font-style: italic;
  font-family: "Satisfy", "cursive";
  font-weight: 400;
  line-height: 5.5rem;
}
.banner-left p {
  color: rgba(255, 255, 255, 0.5);
  margin-block: 30px;
  max-width: 520px;
  line-height: 1.5rem;
}
.btn-grp {
  display: flex;
  align-items: center;
  gap: 12px;
}
.btn-grp button:nth-child(2) {
  background: transparent;
  border: 1px solid white;
}
.banner-right {
  position: relative;
}
.banner-right img {
  display: block;
}
.video-tutorial {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 20px;
  bottom: 60px;
  left: -90px;
  background-color: rgba(48, 48, 48, 0.54);
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}

.video-tutorial .circle {
  width: 40px;
  height: 40px;
  background: var(--primary-color);
  border-radius: 100%;
}
.video-tutorial span:first-child,
.video-tutorial-2 span:first-child {
  font-size: 24px;
  font-weight: 900;
}

.video-tutorial span:last-child,
.video-tutorial-2 span:last-child {
  display: inline-block;
  margin-top: 5px;
}
.video-tutorial-2 {
  position: absolute;
  top: 160px;
  right: -40px;
  background-color: rgba(48, 48, 48, 0.54);
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}
.video-tutorial-2 div span:first-child {
  font-size: 40px;
}
/* styles for small device  */
@media only screen and (max-width: 576px) {
  .wrapper {
    max-width: 92%;
  }

  .nav-links {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .btn-grp {
    justify-content: center;
  }
  .banner {
    flex-direction: column;
    gap: 40px;
  }

  .banner-left h1 {
    font-size: 2.2rem;
  }
  .banner-left h1 span {
    line-height: 2.5rem;
  }
  .banner-left p {
    max-width: 280px;
  }
  .banner-right img {
    width: 100%;
  }
  .btn-grp {
    display: flex;
    gap: 12px;
  }
  .primary-btn {
    padding: 10px 20px;
    font-size: 1rem;
    text-wrap: nowrap;
  }
  .btn-grp {
    gap: 8px;
  }

  .video-tutorial {
    gap: 10px;
    bottom: 200px;
    left: 20px;
    padding: 8px;
    border-radius: 6px;
  }

  .video-tutorial .circle {
    width: 30px;
    height: 30px;
  }
  .video-tutorial span:first-child,
  .video-tutorial-2 span:first-child {
    font-size: 18px;
  }

  .video-tutorial-2 {
    top: 40px;
    right: 20px;
    padding: 8px;
    border-radius: 6px;
  }
  .video-tutorial-2 div span:first-child {
    font-size: 20px;
  }
  .video-tutorial-2 div span:last-child {
    font-size: 9px;
  }
}

/* styles for medium device  */
@media (min-width: 576px) and (max-width: 992px) {
  .wrapper {
    max-width: 92%;
  }
  .banner {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  .video-tutorial {
    bottom: 100px;
    left: -25px;
  }

  .video-tutorial-2 {
    top: 40px;
    right: -30px;
  }
}
